<div class= "container">
  <header class= "jumbotron">
    <title>Bustle</title>
  </header>


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      {{#link-to 'index'}}<img id='logo' class='center-block' src='img/bustle-logo.png' alt='logo'>{{/link-to}}
      <a href="#"><img class='social-media-logo pull-right'src='img/facebook-logo.png' alt='logo'></a>
      <a href="#"><img class='social-media-logo pull-right'src='img/twitter-logo.png' alt='logo'></a>
      <a href="#"><img class='social-media-logo pull-right'src='img/instagram-logo.png' alt='logo'></a>
      <a href="#"><img class='social-media-logo pull-right'src='img/youtube-logo.png' alt='logo'></a>
    </div>
  </nav>
  {{outlet}}
</div>
