{{outlet}}
<h1>Hello World</h1>


<div class='featured'>
</div>

<div class='row'>
  <div class='col-xs-12'>
    <section class='block-title__container'>
      <p class='block-title'>Today's Top Stories</p>
      <p class='today'>{{moment-format moment 'MMMM DD, YYYY'}}</p>
    </section>
    {{#each model as |article|}}
    {{article-tile article=article}}
    {{/each}}
  </div>
</div>
